build/*
flattened_output.txt
flatten_code.py
test/CMakeFiles
CMakeFiles/*
bin/*
src/libp4protolib.a
*/CMakeFiles/*
src/*pb.cc
src/*pb.h
src/*.a
cmake_install.cmake
CMakeCache.txt
.vscode/settings.json
Makefile
external/Makefile
external/include/Makefile
external/include/CMakeFiles/progress.marks
external/include/CMakeFiles/CMakeDirectoryInformation.cmake
input/*
test/generated_configs/*
src/old_master.h
